.appbar {
  height: 70px;
}

.heading {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 600;
}

.a-link {
  text-decoration-line: none;
  color: black;
}
